{% extends "project_task/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    <title>Create Graphs</title>
{% endblock %}

<!-- Header -->
{% block header %}
    <h1>Create Graph</h1>
{% endblock %}

{% block content %}
   <!-- Graph View Dropdown -->
    <label for="graphView"></label>
    <select id="graphView" onchange="changeGraphView()">
        <option value="" selected disabled>Select a chart...</option>
        <option value="burndownChart">Burndown</option>
        <option value="accumulationChart">Accumulation of Efforts</option>
    </select>

    <h2 id="burndownTitle" style="display: none;">Burndown Chart</h2>
    <canvas id="burndownChart" width="400" height="200" {% if not show_burndown %}style="display: none;"{% endif %}></canvas>


    <h2 id="accumulationTitle" style="display: none;">Accumulation of Efforts Chart</h2>
    <canvas id="accumulationChart" width="400" height="200" style="display: none;"></canvas>

{% endblock %}


{% block js %}
    <!-- Chart.js Library-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function changeGraphView() {
            const selectedValue = document.getElementById("graphView").value;

            if (selectedValue === "burndownChart") {
                document.getElementById("burndownChart").style.display = "block";
                document.getElementById("burndownTitle").style.display = "block";
                document.getElementById("accumulationTitle").style.display = "none";
                document.getElementById("accumulationChart").style.display = "none";
            } else if (selectedValue === "accumulationChart") {
                document.getElementById("burndownChart").style.display = "none";
                document.getElementById("burndownTitle").style.display = "none";
                document.getElementById("accumulationTitle").style.display = "block";
                document.getElementById("accumulationChart").style.display = "block";
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
    // Burndown Chart graph logic
        var ctx = document.getElementById('burndownChart').getContext('2d')
        var actualData = {{ remaining_effort|safe }};
        var idealData = {{ ideal_effort|safe }}
        var accumulatedData = {{ accumulated_hours|safe }}
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ days|safe }},
                datasets:[
                    {
                        label: 'Actual Remaining Effort',
                        data: actualData,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',//   Blue
                        borderColor: 'rgba(75, 192, 192,1)',
                        borderWidth: 1,
                        fill : 1, // Fill the gap between the two graphs
                    },

                    {
                        label:'Ideal Remaining Effort',
                        //Hard coded data for now until we have set up live data
                        data: idealData,
                        backgroundColor: 'rgba(255, 0, 0, 0.2)', // Red
                        borderColor: 'rgba(255, 0, 0, 1)',
                        borderWidth: 1,
                        fill : -1,
                    },

                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Remaining Effort (Hours)',
                            font: {
                                size: 18
                            }
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Sprint Timeline',
                            font: {
                                size: 18
                            }

                        }
                    }
                }
            }
        })
        // Accumulation of effort graph logic
        var accCtx = document.getElementById('accumulationChart').getContext('2d');
        var myAccumulationChart = new Chart(accCtx, {
            type: 'line',
            data: {
                labels: {{ days|safe }},
                datasets:[{
                    label: 'Accumulated Hours',
                    data: accumulatedData,
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Hours Accumulated',
                            font: {
                                size: 18
                            }
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Sprint Timeline',
                            font: {
                                size: 18
                            }
                        }
                    }
                }
            }
        })})

    </script>
{% endblock %}
