{% extends "project_task/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
<title>Home</title>
{% endblock %}
{% block extra_styles %}
    <style>
        /* h1 border for dark theme */
        body.dark-theme h1 {
        border-bottom: 2px solid #fff;
        }
        /* Light theme */
        body.light-theme {
            background-color: #ffffff;
            color: #333333;
        }

        body.light-theme .thead-light {
            background-color: white;
            color: black;
        }

        body.light-theme .thead-dark {
            background-color: white;
            color: black;
        }

        /* Theme toggle button in light theme */
        body.light-theme #theme-toggle {
        background-color: #444;
        color: #fff;
        }

        body.light-theme #theme-toggle:hover {
        background-color: #555;
        }

        /* Dark theme */
        body.dark-theme {
            background-color: #333333;
            color: #ffffff;
        }

        body.dark-theme .thead-light,
        body.dark-theme .thead-dark {
            background-color: #343a40;
            color: white;
        }
        /* Theme toggle button in dark theme */
        body.dark-theme #theme-toggle {
            background-color: #ffffff;
            color: #333333;
        }

        body.dark-theme #theme-toggle:hover {
            background-color: #dddddd;
        }
        /* Theme toggle button */
        #theme-toggle {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1001;
            padding: 10px 20px;
            cursor: pointer;
            background-color: #444;
            color: #fff;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        #theme-toggle:hover {
            background-color: #555;
        }
    </style>
{% endblock %}
{% block content %}
<h1>Home</h1>
<!-- Button to trigger the "Create New Sprint" modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewSprint">
    Create Sprint
</button>

<!-- Modal for creating a new sprint -->
<div class="modal fade" id="createNewSprint" tabindex="-1" role="dialog" aria-labelledby="sprintModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="sprintForm" method="POST">
                {% csrf_token %}
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="sprintModalLabel">Create New Sprint</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="d-grid gap-3 text-start">
                        {{ sprint_form.name| as_crispy_field}}
                        {{ sprint_form.start_date| as_crispy_field}}
                        {{ sprint_form.end_date| as_crispy_field}}
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <!-- Action buttons -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Sprint</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block sprint_js %}
<script>
    $('#createNewSprint').on('shown.bs.modal', function () {
        $('#sprintForm input:first').trigger('focus');
    });
</script>

{% endblock %}