{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!-- Modal for creating a new sprint -->
<div class="modal fade" id="createNewSprint" tabindex="-1" role="dialog" aria-labelledby="sprintModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="sprintForm" method="POST">
                {% csrf_token %}
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="sprintModalLabel">Create New Sprint</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="d-grid gap-3 text-start">
                        {{ create_new_sprint_form.name| as_crispy_field}}
                        {{ create_new_sprint_form.start_date| as_crispy_field}}
                        {{ create_new_sprint_form.end_date| as_crispy_field}}
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <!-- Action buttons -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Sprint</button>
                </div>
            </form>
        </div>
    </div>
</div>
