{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!-- Edit Task Modal -->
<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editTaskForm" method="POST">
                {% csrf_token %}
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskTitle">Edit Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="d-grid gap-3 text-start">
                        {{ edit_task_form.name| as_crispy_field }}
                        {{ edit_task_form.type| as_crispy_field}}
                        {{ edit_task_form.priority| as_crispy_field}}
                        {{ edit_task_form.description| as_crispy_field}}
                        {{ edit_task_form.story_point| as_crispy_field}}
                        {{ edit_task_form.tags| as_crispy_field}}
                        {{ edit_task_form.status| as_crispy_field}}
                        {{ edit_task_form.stage | as_crispy_field}}
                        {{ edit_task_form.assignee | as_crispy_field}}
                        {{ edit_task_form.created_date | as_crispy_field}}
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <!-- Action button -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="updateChanges" data-task-id="{{ task.id }}">Update changes</button>
                </div>
            </form>
        </div>
    </div>
</div>