<!-- List view -->
<div class="container-fluid" id="listView">
    <table class="table table-striped table-bordered">
        <!-- Table header -->
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Story Point</th>
            <th>Priority</th>
            <th>Tags</th>
            <th>Creation Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <!-- Table Rows showing tasks -->
        <tbody id="backlogTable">
        {% for task in tasks%}
        <tr id="task-row-{{ task.id }}">
            <td><a href="#" data-toggle="modal" data-target="#editTaskModal" data-task-id="{{ task.id }}">{{task.name}}</a></td>
            <td>{{task.story_point}}</td>
            <td>{{task.priority}}</td>
            <td>
                {% for tag in task.tags.all %}
                <span class="badge badge-info m-1">{{tag}}</span>
                {% endfor %}
            </td>
            <td>{{task.created_date}}</td>
            <td>
                <button type="submit" class="btn btn-danger delete-btn" data-task-id="{{ task.id }}">Delete</button>
            </td>
        </tr>
        {% empty %}
        <!-- If no tasks are available -->
        <tr id="task-row-empty">
            <td colspan="6" class="text-center">No tasks available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>