<!-- View options and Create New Task button -->
<div class="container-sm container-md container-lg container-xl mb-4 mt-4">
    <div class="row justify-content-start mb-2 mt-2">
        <!-- Create New Task Button trigger modal -->
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-2 mt-2">
            <button id="create-task-listview" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewTaskModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 12 12">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                New Task
            </button>
        </div>
        <!-- Button to trigger the "Create New Sprint" modal -->
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-2 mt-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewSprint">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 12 12">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                New Sprint
            </button>
        </div>
    </div>

    <div class="row justify-content-start mb-2 mt-2">
        <!-- View options -->
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-2 mt-2">
            <label for="view">View:</label>
            <select id="view" onchange="updateSortAndFilter()">
                {% if current_view == 'list_view' %}
                <option value="list_view" selected>List View</option>
                <option value="card_view">Card View</option>
                {% else %}
                <option value="list_view">List View</option>
                <option value="card_view" selected>Card View</option>
                {% endif %}
            </select>
        </div>

        <!-- Priority Sort options -->
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-2 mt-2">
            <label for="priority_sort">Priority:</label>
            <select id="priority_sort" onchange="updateSortAndFilter()">
                {% if priority_sort == 'priority_ascending' %}
                <option value="priority_ascending" selected>Ascending</option>
                <option value="priority_descending">Descending</option>
                {% else %}
                <option value="priority_ascending">Ascending</option>
                <option value="priority_descending" selected>Descending</option>
                {% endif %}
            </select>
        </div>

        <!-- Date Sort options -->
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-2 mt-2">
            <label for="date_sort">Date:</label>
            <select id="date_sort" onchange="updateSortAndFilter()">
                {% if date_sort == 'date_ascending' %}
                <option value="date_ascending" selected>Ascending</option>
                <option value="date_descending">Descending</option>
                {% else %}
                <option value="date_ascending">Ascending</option>
                <option value="date_descending" selected>Descending</option>
                {% endif %}
            </select>
        </div>

        <!-- Tags Filter options -->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex mb-2 mt-2">
            <label for="tags_filter">Tags:</label>
            <select id="tags_filter" multiple="multiple" style="width: 50%;" onchange="updateSortAndFilter()">
                {% for tag in tags %}
                {% if tag.name in selected_tags %}
                <option value="{{ tag.name }}" selected>{{ tag.name }}</option>
                {% else %}
                <option value="{{ tag.name }}">{{ tag.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>