{% extends "project_task/base.html" %}

{% block content %}
<h1>Archived Sprints</h1>
<button class="btn btn-info" onclick="showHelp()">Help</button>

<div class="container-fluid" style="margin-top: 20px;">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Sprint</th>
                <th>Sprint Start</th>
                <th>Sprint End</th>
            </tr>
        </thead>
        
        <tbody id="backlogTable">
            <!-- Rows will be dynamically added here -->
            {% for sprint in sprint_backlog_archived %}
            <tr>
                <td><a href="{% url 'sprint_boards' sprint.id %}">{{ sprint.name }}</a></td>
                <td>{{sprint.start_date}}</td>  
                <td>{{sprint.end_date}}</td> 

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function showHelp() {
        alert("This page displays a table of all sprints that have been archived, including when the sprint started and ended.");
    }
</script>
{% endblock %}
