{% extends "project_task/base.html" %}

{% block title %}
    <title>Sprint Backlog</title>
{% endblock %}

{% block extra_styles %}
    <style>
        /* h1 border for dark theme */
    body.dark-theme h1 {
    border-bottom: 2px solid #fff;
    }
    /* Light theme */
    body.light-theme {
        background-color: #ffffff;
        color: #333333;
    }

    body.light-theme .thead-light {
        background-color: white;
        color: black;
    }

    body.light-theme .thead-dark {
        background-color: white;
        color: black;
    }

    /* Theme toggle button in light theme */
    body.light-theme #theme-toggle {
    background-color: #444;
    color: #fff;
    }

    body.light-theme #theme-toggle:hover {
    background-color: #555;
    }

    /* Dark theme */
    body.dark-theme {
        background-color: #333333;
        color: #ffffff;
    }

    body.dark-theme .thead-light,
    body.dark-theme .thead-dark {
        background-color: #343a40;
        color: white;
    }
    /* Theme toggle button in dark theme */
    body.dark-theme #theme-toggle {
        background-color: #ffffff;
        color: #333333;
    }

    body.dark-theme #theme-toggle:hover {
        background-color: #dddddd;
    }
    /* Theme toggle button */
    #theme-toggle {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1001;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #444;
        color: #fff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    #theme-toggle:hover {
        background-color: #555;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Sprint Backlog</h1>
    <button class="btn btn-info" onclick="showHelp()">Help</button>
    <!-- Toggle button for Light/Dark themes -->
    <button id="theme-toggle">Light/Dark Theme</button>

    <div class="container-fluid">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Sprint</th>
                    <th>Sprint Start</th>
                    <th>Sprint End</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody id="backlogTable">
                <!-- Rows will be dynamically added here -->
                {% for sprint in sprints %}
                    <tr>
                        <td>{{sprint.name}}</td>
                        <td>{{sprint.start_date}}</td>
                        <td>{{sprint.end_date}}</td>
                        <td><!-- Action buttons here (maybe delete sprints if needed)... --></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        function showHelp() {
    alert("Sprint Backlog displays all sprints that have been created, including their start and end dates. When a sprint is clicked on, the website will redirect to it's corresponding Sprint Board. The 'Archive Sprint' button will allow the sprint to be archived and moved to the 'Archived Sprints' tab, which can be accessed in the side bar.");
}
    //Toggle between light and dark themes
        document.getElementById('theme-toggle').addEventListener('click', function() {
            let body = document.body;
            let themeButton = document.getElementById('theme-toggle');

            if (body.classList.contains('light-theme')) {
                body.classList.remove('light-theme');
                body.classList.add('dark-theme');
                themeButton.textContent = 'Light Theme';
                localStorage.setItem('theme', 'dark-theme');
            } else {
                body.classList.remove('dark-theme');
                body.classList.add('light-theme');
                themeButton.textContent = 'Dark Theme';
                localStorage.setItem('theme', 'light-theme');
            }
        });

            // Set the default theme of page to the 'light theme'
            let storedTheme = localStorage.getItem('theme') || 'light-theme';
            document.body.classList.add(storedTheme);

            // Set the button text based on the current theme
            if (storedTheme === 'light-theme') {
                document.getElementById('theme-toggle').textContent = 'Dark Theme';
            } else {
                document.getElementById('theme-toggle').textContent = 'Light Theme';
            }
    </script>
{% endblock %}

