{% extends "project_task/base.html" %}

{% block title %}
<title>Sprint Backlog</title>
{% endblock %}

{% block content %}
<h1>Sprint Backlog</h1>

<div class="container-fluid" >
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Task Name</th>
                <th>Assignee</th>
                <th>Story Points</th>
            </tr>

        </thead>
        
        <tbody id="backlogTable">
            
            <!-- Rows will be dynamically added here -->
            {% for task in tasks%}  
            {% if task.status == status_title.0 %}
            <tr>
                <td>{{task.name}}</td>
                <td>{{task.assignee}}</td>
                <td>{{task.story_point}}</td>              
                
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}