{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!-- Create New Task Modal -->
<div class="modal fade" id="createHourGraphModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="createHourGraphForm" method="POST">
                {% csrf_token %}
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Hour Graph</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="d-grid gap-3 text-start">
                        {{ create_hour_graph_form.person| as_crispy_field }}
                        {{ create_hour_graph_form.date| as_crispy_field}}
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <!-- Action button -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="saveChanges">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>