{% extends "admin/base_site.html" %}
{% block title %}Created Graph {% endblock %}

{% block content %}
    <div> <!-- Set the container dimensions -->
      <canvas id="line-chart" ></canvas> <!-- Set canvas dimensions -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function() {
            var ctx = document.getElementById('line-chart').getContext('2d');
            var average = {{ average | safe }};
            var hour = {{ y | safe }};
            var labels = {{ x | safe }};
            var lineChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Hours",
                        data: hour,
                        borderColor: 'rgba(121, 174, 200, 1)',
                        borderWidth: 2,
                    },
                    {
                        label: 'Average',
                        type: "line",
                        data: Array(hour.length).fill(average),
                        borderColor: 'rgba(65, 118, 144, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: "{{ graph_title | safe }}",
                            fontSize: 8,
                            fontColor: '#333', // Title text color
                            fontStyle: 'bold' // Title font style (e.g., 'normal', 'italic', 'bold')
                        },
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                          beginAtZero: true
                        }
                    },
                }
            });
        });
    </script>
{% endblock %}